<section class="flex items-center justify-center w-screen h-screen px-4">
  <!-- Contact Form -->
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-2.5 md:w-auto w-full"
  >
    <p class="text-blue-900 font-bold uppercase text-center text-4xl mb-6">
      Toba
    </p>

    <input
      class="bg-gray-50 text-slate-600 rounded-lg py-3 px-2 text-base"
      type="text"
      formControlName="name"
      id="fullName"
      placeholder="Full name"
    />
    <input
      class="bg-gray-50 text-slate-600 rounded-lg py-3 px-2 text-base"
      type="text"
      formControlName="className"
      id="class"
      placeholder="Class"
    />

    <input
      class="bg-gray-50 text-slate-600 rounded-lg py-3 px-2 text-base"
      type="text"
      formControlName="number"
      id="number"
      placeholder="Phone Number"
    />

    <input
      class="bg-gray-50 text-slate-600 rounded-lg py-3 px-2 text-base"
      type="text"
      formControlName="annualContribution"
      id="contribution"
      placeholder="Annual Membership"
    />

    <button
      type="submit"
      class="w-full bg-blue-900 rounded-full text-white py-4 mt-2 md:mt-6"
    >
      Submit
    </button>
  </form>
</section>
